@use './reset.scss';
// design-system is injected globally via vite.config.js

// Features
@use 'features/hero';
@use 'features/about';

// Pages
@use 'pages/landing';

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $color-neutral-gray-800;
  background-color: $color-bg-surface;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
