@use './reset.scss';
// design-system is injected globally via vite.config.js

// Features
@use 'features/hero';
@use 'features/about';
@use 'features/audience';
@use 'features/booking';
@use 'features/courses';
@use 'features/reviews';

// Entities
@use 'entities/audience-card';

// Pages
@use 'pages/landing';

.u-overflow-hidden {
  overflow: hidden;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $color-neutral-gray-800;
  background-color: $color-bg-surface;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
